/* ProductPage.module.css */
.productPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-height: 350px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.addButton {
  background-color: #FFDAB9; /* Peach orange */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.addButton:hover {
  background-color: #FFC58F;
}
